.navContainer {
    text-align: right;

    .link {
        margin: 0 0.5rem;
        transition: opacity 0.2s ease-in-out;
        opacity:0.65;

        @media all and (max-width: 768px) {
            margin: 0;
            opacity: 1;
        }
        // border-bottom: 1px solid var(--border-color-dark);

        &:hover {
            opacity: 1;
        }
    }
    span.mx-2 {
        @media all and (max-width:768px) {
            display: none;
        }
    }

    .separator {
        opacity:0.65;
    }
}